<div id="nav">
  <ul>
    <li><a class="active" href="/">Overview</a></li>
    <li><a href="/transactions">Transactions</a></li>
    <li><a href="/transactions/new">New</a></li>
    <li><a href="/merchants">Merchants</a></li>
    <li><a href="/tags">Tags</a></li>
  </ul>
</div>

<div id="this-month">
  <div>
  <h4>Spent This Month: £ <%= sprintf("%.2f", @total_current.to_f / 100) %></h4>
  </div>
  <div>
  <h4>Budget Remaining: £ <%= 1000 - (sprintf("%.2f", @total_current.to_f / 100)).to_f %></h4>
  </div>
</div>

<div id="last-3">
  <% if @total_minus3.to_f <= 100000.to_f %>
    <div id="last-3-container" style="background-color: #bfd9bf">
      <h4 id="last-3-top"><%= @month_minus3 %></h4>
      <h4 id="last-3-bottom">£ <%= sprintf("%.2f", @total_minus3.to_f / 100) %></h4>
    </div>
  <% else %>
    <div id="last-3-container" style="background-color: #d57676">
      <h4 id="last-3-top"><%= @month_minus3 %></h4>
      <h4 id="last-3-bottom">£ <%= sprintf("%.2f", @total_minus3.to_f / 100) %></h4>
    </div>
  <% end %>
  <div> </div>
  <div> </div>
  <% if @total_minus2.to_f <= 100000.to_f %>
    <div id="last-3-container" style="background-color: #bfd9bf">
      <h4 id="last-3-top"><%= @month_minus2 %></h4>
      <h4 id="last-3-bottom">£ <%= sprintf("%.2f", @total_minus2.to_f / 100) %></h4>
    </div>
  <% else %>
    <div id="last-3-container" style="background-color: #d57676">
      <h4 id="last-3-top"><%= @month_minus2 %></h4>
      <h4 id="last-3-bottom">£ <%= sprintf("%.2f", @total_minus2.to_f / 100) %></h4>
    </div>
  <% end %>
  <div> </div>
  <div> </div>
  <% if @total_minus1.to_f <= 100000.to_f %>
    <div id="last-3-container" style="background-color: #bfd9bf">
      <h4 id="last-3-top"><%= @month_minus1 %></h4>
      <h4 id="last-3-bottom">£ <%= sprintf("%.2f", @total_minus1.to_f / 100) %></h4>
    </div>
  <% else %>
    <div id="last-3-container" style="background-color: #d57676">
      <h4 id="last-3-top"><%= @month_minus1 %></h4>
      <h4 id="last-3-bottom">£ <%= sprintf("%.2f", @total_minus1.to_f / 100) %></h4>
    </div>
  <% end %>
</div>