<div id="nav">
  <ul>
    <li><a class="active" href="/">Overview</a></li>
    <li><a href="/transactions">Transactions</a></li>
    <li><a href="/transactions/new">New</a></li>
    <li><a href="/merchants">Merchants</a></li>
    <li><a href="/tags">Tags</a></li>
  </ul>
</div>

<div id="this-month">
  <div>
  <h4>Spent this month: <%= sprintf("%.2f", @total_current.to_f / 100) %></h4>
  </div>
  <div>
  <h4>Budget remaining: <%= 1000 - (sprintf("%.2f", @total_current.to_f / 100)).to_f %></h4>
  </div>
</div>

<div id="last-3">
  <h4>Spent Last 3 Months</h4>
  <div>
    <h4><%= @month_minus3 %></h4>
    <h4><%= sprintf("%.2f", @total_minus3.to_f / 100) %></h4>
  </div>
  <div>
    <h4><%= @month_minus2 %></h4>
    <h4><%= sprintf("%.2f", @total_minus2.to_f / 100) %></h4>
  </div>
  <div>
    <h4><%= @month_minus1 %></h4>
    <h4><%= sprintf("%.2f", @total_minus1.to_f / 100) %></h4>
  </div>
</div>