<div id="nav">
  <ul>
    <li><a href="/">Overview</a></li>
    <li><a class="active" href="/transactions">Transactions</a></li>
    <li><a href="/transactions/new">New</a></li>
    <li><a href="/merchants">Merchants</a></li>
    <li><a href="/tags">Tags</a></li>
  </ul>
</div>

<div id="edit">
  <form action="/transactions/<%= @transaction.id %>" method="post">
    <table>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Merchant</th>
        <th>Tag</th>
      </tr>

      <tr>
        <td>
          <input type="text" name="date" id="date" value="<%= @transaction.date %>"/>
        </td>

        <td>
          <input type="number" name="amount" id="amount" value="<%= sprintf( "%.2f", @transaction.amount.to_f / 100 ) %>"/>
        </td>

        <td>
          <select name="merchant_id" id="merchant_select" selected="<%= @transaction.merchant %>">
            <% @merchants.each do |merchant| %>
              <% if merchant.id == @transaction.merchant_id %>
                <option value=<%= merchant.id %> selected><%= merchant.name.upcase %></option>
              <% else %>
                <option value=<%= merchant.id %>><%= merchant.name.upcase %></option>
              <% end %>
            <% end %>
          </select>
        </td>

        <td>
          <select name="tag_id" id="tag_select" selected="<%= @transaction.tag %>">
            <% @tags.each do |tag| %>
              <% if tag.id == @transaction.tag_id %>
                <option value=<%= tag.id %> selected><%= tag.name.upcase %></option>
              <% else %>
                <option value=<%= tag.id %>><%= tag.name.upcase %></option>
              <% end %>
            <% end %>
          </select>
        </td>
      </tr>
    </table>

    <p>
    <input type="submit" value="Save Changes"/>
    </p>

  </form>
</div>