<h1>Transactions</h1>

<h3>Total spent: <%= @total %></h3>

<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Merchant</th>
    <th>Tag</th>
  </tr>
  <% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.date %></td>
    <td><%= transaction.amount %></td>
    <td><%= transaction.merchant %></td>
    <td><%= transaction.tag %></td>
  </tr>
  <% end %>
</table>