<h1>Transactions</h1>

<h3>Total spent: <%= @total %></h3>

<form method="get" action="/transactions">
  <label for="from">From:</label>
  <input type="text" name="from" id="from"/>
  <label for="to">To:</label>
  <input type="text" name="to" id="to"/>

  <input type="submit" value="Filter By Date"/>
</form>
<br>


<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Merchant</th>
    <th>Tag</th>
  </tr>
  <% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.date %></td>
    <td><a href="/transactions/<%= transaction.id %>"><%= transaction.amount %></td>
    <td><%= transaction.merchant.upcase %></td>
    <td><%= transaction.tag.upcase %></td>
  </tr>
  <% end %>
</table>