<div id="nav">
  <ul>
    <li><a href="/">Overview</a></li>
    <li><a class="active" href="/transactions">Transactions</a></li>
    <li><a href="/transactions/new">New</a></li>
    <li><a href="/merchants">Merchants</a></li>
    <li><a href="/tags">Tags</a></li>
  </ul>
</div>

<div id="total">
  <h4>Total Spent: £ <%= sprintf( "%.2f", @total.to_f / 100) %></h4>

  <form method="get" action="/transactions">
  <p>
    <label for="from">From:</label>
    <% if @from %>
      <input type="text" name="from" id="from" value="<%= @from %>"/>
    <% else %>
      <input type="text" name="from" id="from"/>
    <% end %>

    <label for="to">To:</label>
    <% if @to %>
      <input type="text" name="to" id="to" value="<%= @to %>"/>
    <% else %>
      <input type="text" name="to" id="to"/>
    <% end %>

    <input type="submit" value="Filter By Date"/>
  </form>
  </p>
</div>

<div id="table">
  <table>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Merchant</th>
      <th>Tag</th>
    </tr>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.date %></td>
      <td><a href="/transactions/<%= transaction.id %>">£ <%= sprintf( "%.2f", transaction.amount.to_f / 100 ) %></td>
      <td><%= transaction.merchant.upcase %></td>
      <td><%= transaction.tag.upcase %></td>
    </tr>
    <% end %>
  </table>
</div>